.round-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
  }
  
  .loader {
    border: 2px solid white;
    border-top: 2px solid #007bff; 
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  