.video-section{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.react-video-player{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}