.main-web-code-editor{
    display: flex;
    width: 100vw;
    height: calc(100vh - 80px);
    margin-top: 80px;
}
.web-code-editor{
    background-color: rgb(40, 43, 57);
    overflow: hidden;
}
.web-code-editor-header{
    margin: 0;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(29, 26, 26);
}
.web-code-languages-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.web-editor-tab{
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
.selected-web-tab{
    background-color: rgb(40, 43, 57);
}
.web-code-editor span{
    /* font-size: 14px; */
}
.react-ace-web-editor{
    height: 100%;
    width: 100%;
}
.ace_gutter{
    background-color: rgb(4, 4, 4) !important;
}
.web-output-display{
    height: calc(100vh - 80px);
    z-index: 800;
}
.web-overlay{
    max-width: 60vw;
    width: 60vw;
    min-width: 20vw;
}
#web-out-iframe{
    border: none;
}
.ace_print-margin{
    display: none;
}
.ace_editor, .ace_hidpi {
    line-height: 1.7;
    /* font-size: 14px; */
}
.ace_scrollbar-inner, .ace_scrollbar, .ace_scrollbar-v{
    display: none;
}
