.main-homepage-section{
    display: flex;
}
.homepage-section{
    background-color: rgb(241, 245, 249);
    border-top-left-radius: 25px;
    border-bottom-left-radius:  25px;
    margin-left: calc(256px - 100vw);
    width: calc(100vw - 256px);
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    display: flex;
}
.home-page-profile-section{
    width: 400px;
}
.daily-schedule-page{
    max-width: calc(100vw - 256px - 400px);
    min-height: 100vh;
    padding: 20px;
}