.main-homepage-section{
    display: flex;
}
.homepage-section{
    background-color: rgb(241, 245, 249);
    border-top-left-radius: 25px;
    border-bottom-left-radius:  25px;
    margin-left: calc(256px - 100vw);
    width: calc(100vw - 256px);
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100vh;
    display: flex;
}
.home-page-profile-section{
    width: 400px;
}
.daily-schedule-page{
    max-width: calc(100vw - 256px - 400px);
    min-height: 100vh;
    overflow: hidden;
    padding: 20px;
}
@media screen and (max-width : 1023px) {
    .home-page-profile-section{
        display: none;
    }
    .daily-schedule-page{
        max-width: 100vw;
    }
}

@media screen and (max-width : 692px) {
    .daily-schedule-page{
        width: 100vw;
    }
    .homepage-section{
        width: 100vw;
        margin-left: calc(-100vw);
        border-top-left-radius: 0;
        border-bottom-left-radius:  0;
    }
}