.course-section{
    margin-top: 80px;
}
.course-units-side-bar{
    height: calc(100% - 80px);
    position: fixed;
    overflow: hidden;
    width: 300px;
    max-width: 300px;
    z-index: 1000;
    user-select: none;
    transition: max-width 0.4s;
}
.course-units-side-bar-1{
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-y: auto;
    background-color: rgb(27, 43, 80);
    z-index: 99;
    color: white;
    position: relative;
    left: 0;
    transition: max-width 0.3s ease-in;
}
.course-units-side-bar-1::-webkit-scrollbar{
    display: none;
}
.hide-side-menu{
    left: -300px;
    max-width: 100%;
    transition: max-width 1s;
}

.course-units-side-bar-2{
    display: flex;
    align-items: center;
    margin: 10px 20px 30px 30px;
    padding-top: 10px;
}
.course-units-side-bar-2 p{
    color: rgb(70, 168, 255);
    font-size: 16px;
    font-weight: 600;
    align-self: flex-start;
    margin-left: 15px;
    position: relative;
}
.course-topics-units-list{
    margin-top: 30px;
    padding: 0;
    list-style-type: none;
}
.course-back-button{
    cursor: pointer;
    font-size: 20px;
}
.rotated-arrow-icon{
    transform: rotate(-90deg);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 100px;
}
.course-topic-item{
    cursor: pointer;
}
.course-topic-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
}
.active-topic{
    background-color: rgb(57, 92, 173);
}
.active-topic-arrow{
    transform: rotate(90deg);
    transition:  transform 0.3s ease-in;
}
.course-unit-item{
    padding: 15px;
    display: flex;
}
.course-unit-completion-circle{
    width : 15px;
    height : 15px;
    margin-right: 20px;
    padding-top: 8px;
}
.course-unit-completion-circle svg{
    width: 15px;
    margin-left: 2px;
}
.course-units-list{
    margin: 0;
    animation : unitsAnimation 1s ease-in;
    background-color: rgb(9, 25, 62);
}
@keyframes unitsAnimation {
    0%{
        opacity: 0;
    } 25% {
        opacity: 0;
    } 75% {
        opacity: 0.75;
    } 100% {
        opacity: 1;
    }
}
.active-unit-item{
    background-color: rgb(11, 65, 189);
}
.course-content-display-section{
    width: calc(100vw - 300px);
    height: calc(100% - 80px);
    margin-left: 300px;
    position: fixed;
    top: 80px;
    z-index: 1000;
    overflow: hidden;
}
.course-content-display-section-2{
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-y: auto;
    z-index: 99;
    position: relative;
    transition: max-width 0.3s ease-in;
}
.course-content-related-section{
    width: 100%;
    padding: 15px 20px;
    box-shadow: 0 0 1px 0px rgb(187, 186, 186);
    display: flex;
    align-items: center;
}
.course-content-related-section p{
    font-family: "Inter";
    font-weight: 600;
    margin-left: 20px;
}
.display-side-menu-icon{
    cursor: pointer;
    font-size: 20px;
}
.resource-duration{
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.resource-duration span{
    margin-left: 5px;
}