.react-ace-js-editor{
    height: calc(100vh - 80px);
    margin-top: 80px;
    width: 100vw;
    display: flex;
}
.js-code-editor{
    max-width: 70vw;
    width: 60vw;
    min-width: 30vw;
    height: inherit;
}
.console-output-main{
    max-width: 70vw;
    width: 40vw;
    min-width: 30vw;
}
.console-output{
    background-color: rgb(40, 42, 54);
    width: 100%;
    height: calc(100vh - 110px);
}