.circular-progress{
    width : 30px;
    height : 30px;
    position: relative;
    margin: -3px 15px 0 0;
}
.circle{
    height: inherit;
    width : inherit;
    border-radius: 50%;
    margin-left: 2px;
}
.locked-resource{
    margin-right: -5px;
}
