.user-profile-section{
    position : absolute;
    left : 10px;
    bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor : pointer;
    width: 220px;
}
.user-profile-icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.user-name{
    padding: 0 5px;
    color: rgb(204, 199, 199);
    font-size: 18px;
}
.span-arrow{
    color: white;
    margin-top: 5px;
}
.profile-modal{
    list-style-type: none;
    margin-left: 35px;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
    width: 250px;
    z-index: 5;
    position: absolute;
    left: 210px;
    bottom: 10px;
}
@media screen and (max-width : 692px){
    .profile-modal{
        left: -40px;
        bottom : -150px;
    }
}
.profile-modal li{
    display: flex;
    align-items: center;
    color: black;
    padding: 10px;
    border-radius: 15px;
}
.profile-option{
    padding-left: 5px;
}
.profile-modal li:hover{
    background-color: antiquewhite;
}
