.python-ace-editor-main{
    height: calc(100vh - 80px);
    margin-top: 80px;
    width: 100vw;
    display: flex;
}
.python-editor-section{
    max-width: 70vw;
    width: 60vw;
    min-width: 30vw;
    height: inherit;
}
.python-output-main{
    max-width: 70vw;
    width: 40vw;
    min-width: 30vw;
    background-color: rgb(53, 52, 52);
    color: white;
    padding: 10px;
}
.python-run-button{
    padding : 10px;
    margin-bottom: 20px;
    width: 130px;
    font-size: 15px;
    font-weight: 500;
    background-color: rgb(28, 116, 216);
    border: none;
    border-radius: 5px;
    color: white;
}
.python-run-button:active{
    background-color: rgb(137, 174, 217);
}