.journey-course{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    padding: 16px;
    margin: 10px 0;
    border : 2px solid rgb(199, 222, 250);
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}
.journey-course-name{
    font-family: "inter";
    font-size: 13px;
    font-weight: 600;
    opacity: 0.7;
}
