.right-slide-modal {
    position: fixed;
    top: 0;
    right: -500px; 
    min-height: 100%;
    width: 500px;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease-in-out;
    z-index: 200;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 20px;
  }
  
  .right-slide-modal.open-slide {
    right: 0;
  }
  .modal-content {
    height: 100%;
    overflow-y: auto;
    padding: 20px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: inherit;
  }
  