.window-resizer{
    width: 20px;
    height: 100%;
    background-color: rgb(43, 37, 37);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: e-resize;
    z-index: 99;
}
.window-resizer span{
    color: white;
    margin: 0;
}