.other-courses-tab{
    display: flex;
}
.other-courses-section{
    background-color: rgb(249, 250, 250);
    border-top-left-radius: 25px;
    border-bottom-left-radius:  25px;
    margin-left: calc(256px - 100vw);
    width: calc(100vw - 256px);
    padding : 40px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
}
.course-category-main-section{
    padding: 0;
}
@media screen and (max-width: 692px){
    .other-courses-section{
        width: 100vw;
        margin-left: -100vw;
        border-radius: 0;
    }
}