.course-modal-units-list{
    margin: 10px;
    padding: 0;
    list-style-type: none;
}
.course-modal-topic{
    margin: 10px 0;
    border: 1px solid;
    padding: 15px;
    box-shadow: none;
    box-sizing: border-box;
    border-color: #e2e8f0;
    border-radius: 16px;
    background-color: #ffffff;
    cursor: pointer;
    font-family: "Inter";
}
.course-modal-topic-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}
.course-modal-topic-3{
    display: flex;
}
.modal-units-list{
  padding: 0;
  margin: 15px 0;
}
.modal-unit-item{
    display: flex;
    align-items: flex-start;
    position: relative;
    border-radius: 12px;
    padding: 10px 0;
}
.modal-resource-completion-circle{
    width : 30px;
    height : 30px;
    margin: 0 15px 0 0;
}
.modal-unit-completion-circle{
    width : 20px;
    height : 20px;
    margin-right: 25px;
}
.modal-unit-completion-circle svg{
    width: 23px !important;
    height: 23px !important;
    padding-left: 5px;
}
.my-journey-modal-date{
    font-size: 10px;
    color: rgb(142, 149, 157);
    margin: 8px 0px 0 0;
}
.modal-unit-type-tag{
    font-weight: 500;
    font-size: 12px;
    line-height: 1.67;
    color: rgb(15, 118, 110);
    margin-top: 5px;
}