.select-lang-block{
    width: 250px;
    position: absolute;
    bottom: 50px;
    left: 30%;
    display: flex;

}
.react-editor-select{
    width: 150px;
}
/* .run-button{
    margin : 0 10px;
    width: 80px;
    font-size: 15px;
    font-weight: 500;
    background-color: white;
    border: 3px solid rgb(137, 174, 217);
    border-radius: 5px;
}
.run-button:active{
    background-color: rgb(137, 174, 217);
} */
.react-code-editor{
    background:black;
}